@import './colours.module';

.container {
    background-color: $black;
    height: 100vh;
    padding: 15px 200px;
    margin-left: 400px;
    h1, p {
        color: $cream;
    }
    h1 {
        font-size: 110px;
        
    }

}

@media (max-width: 1250px) {
    .container {
        width: 100%;
        padding: 15px 0;
        margin-left: 0;
    }
}