@import './colours.module';

.container {
    background-color: $black;
    height: 100vh;
    padding: 15px 200px;
    margin-left: 400px;
    h1, p {
        color: $cream;
    }
    h1 {
        font-size: 90px;
    }

}

.icon {
    height: 90px;
    width: 90px;
    color: $cream;
    margin-left: 40px;
}
