@import './colours.module';

.container {
    height: 74px;
    background-color: $yellow;
    color: $black;
    display: flex;
    justify-content: space-between;
    padding: 0 110px;
    h1 {
        font-size: 30px;
    }
    a {
        display: flex;
        flex-direction: column;
        height: 40px;
        width: 80px;
        padding: 16px 21px;
        text-decoration: none;
        border: 1px solid $brown;
        background-color: $gold;
        color: $black;
        &:hover{
            background-color: $yellow;

        }
    }
    div {
        display: flex;
    }
}



.subMenu {
    position: absolute;
    list-style: none;
    text-decoration: none;
   li {
        display: flex;
        margin: 0;
        padding: 0;
        max-height: 50px;
        border: 1px solid $black;

   }
   a {
        width: 100px;
        align-items: center;
        padding: 16px 21px;
        margin: 0;
        text-decoration: none;
        border: 0;
        background-color: $yellow;
        color: $black;
        border-radius: 0;
        
    &:hover {
        background-color: $cream;
    }
   }
   ul {
    padding: 0;
    
   }
}

.conceptMenu {
    position: fixed;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    background-color: $yellow;
    left: 603px;
    
   li {
    margin: 0;
    padding: 0;
    max-height: 32px;

   }
   a {
    background-color: $red;
    color: $cream;
    &:hover {
        background-color: $brown;
    }
   }
}

@media (min-width: 1250px){
    .container {
        display: none;
    }
}

@media (max-width: 1000px){
    .container {
        flex-direction: column;
        height: 150px;
    }
}