@import './colours.module';

.container {
    margin: 0;
    padding: 50px;
    width: 350px;
    position: fixed;
    height: 100%;
    overflow: auto;
    background-color: $yellow;
    color: $black;
    h1 {
        font-size: 60px;
        margin-bottom: 60px;
    }
    a {
        display: flex;
        justify-content: space-between;
        width: 250px;
        align-items: center;
        padding: 16px 21px;
        margin: 5px;
        text-decoration: none;
        border: 2px solid $brown;
        background-color: $gold;
        color: $black;
        border-radius: 7px;
        &:hover{
            background-color: $yellow;

        }
    }
    div {
        display: flex;
    }
}

.subMenu {
    position: fixed;
    padding: 0;
    margin: 0;
    left: 360px;
    list-style: none;
    text-decoration: none;
    background-color: $yellow;
   li {
    display: flex;
    margin: 0;
    padding: 0;
   }
   a {
    padding: 10px 14px;
    &:hover {
        background-color: $yellow;
    }
   }
}

.itemMenu {
    position: fixed;
    padding: 0;
    margin: 0;
    left: 652px;
    list-style: none;
    text-decoration: none;
    background-color: $yellow;
   li {
    margin: 0;
    padding: 0;
   }
   a {
    padding: 6px 10px;
    &:hover {
        background-color: $yellow;
    }
   }
}