@import './colours.module';

.container {
    margin: 0;
    padding: 10px 45px;
    width: 350px;
    position: fixed;
    height: 100%;
    overflow: auto;
    background-color: $yellow;
    color: $black;
    h1 {
        font-size: 60px;
        // margin-bottom: 60px;
    }
    a {
        display: flex;
        justify-content: space-between;
        width: 250px;
        align-items: center;
        padding: 16px 21px;
        margin: 5px;
        text-decoration: none;
        border: 2px solid $brown;
        background-color: $gold;
        color: $black;
        &:hover{
            background-color: $yellow;

        }
    }
    div {
        display: flex;
    }
}

.subMenu {
    position: fixed;
    padding: 5px;
    margin: 0;
    left: 350px;
    list-style: none;
    text-decoration: none;
   li {
        display: flex;
        margin: 0;
        padding: 0;
        max-height: 50px;
        border: 1px solid $black;

   }
   a {
        width: 200px;
        align-items: center;
        padding: 16px 21px;
        margin: 0;
        text-decoration: none;
        border: 0;
        background-color: $yellow;
        color: $black;
        border-radius: 0;
        
    &:hover {
        background-color: $cream;
    }
   }
   ul {
    padding: 0;
    
   }
}

.conceptMenu {
    position: fixed;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    background-color: $yellow;
    left: 603px;
   li {
    margin: 0;
    padding: 0;
    max-height: 32px;
   }
   a {
    background-color: $red;
    color: $cream;
    &:hover {
        background-color: $brown;
    }
   }
}

@media (max-width: 1250px){
    .container {
        display: none;
    }
}