@import './colours.module';

.container {
    background-color: $black;
    height: 100vh;
    padding: 15px 200px;
    margin-left: 400px;
    h1, h3, p {
        color: $cream;
    }
    h1 {
        font-size: 90px;
    }
    h3 {
        font-size: 45px;
    }

}

.icon {
    height: 90px;
    width: 90px;
    color: $cream;
    margin-left: 40px;
}

@media (max-width: 1250px) {
    .container {
        width: 100%;
        padding: 15px 0;
        margin-left: 0;
    }
}